.txt{
  font-size: 40px;
  font-weight: bold;
}
.box--light {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.box--dark{
  box-shadow: 0px 3px 8px blue;
  border-radius: 4px;
  background: black;
  color: white;
}
.form--input > input{
  width: 70%;
  height: 50px;
  border-radius: 5px;
  text-indent: 5px;
}
.form--input{

}
.form--button{
  height: 50px;
}
.meme{
  position: relative;
}
.meme > img{
  max-width: 100%;
}
.meme--text{
  position: absolute;
  color: white;
}
.top{
  top: 10%;
  left: 50%;
}
.bottom{
  bottom: 5%;
  left: 50%;
}
.icon{
  font-size: 25px;
}
.label{
  font-size: 20px;
}
.body--dark{
  background: black;
  border-radius: 4px;
}